* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #111111;
}

.page-header {
  padding: 20px;
  padding-left: 50px;
  background: #000000 url("../img/background-header.webp") no-repeat center/cover;
  color: #ffffff;
}

.page-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 50px;
}

.page-description {
  font-size: 27px;
}

.header-sections {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skills {
  padding: 20px;
  background-color: bisque;
  color: #000000;
}

.skills-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
}

.skill {
  width: 800px;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 10px;
}

.skill-heading {
  color: brown;
  font-size: 24px;
}

.skill-description {
  color: green;
  font-size: 26px;
}

.what-i-use {
  padding: 20px;
  background-color: bisque;
  color: #000000;
}

.what-i-use-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
}

.what-i-use-item {
  width: 800px;
  display: flex;
  align-items: center;
  padding: 0;
  border-radius: 10px;
}

.what-i-use-heading {
  color: brown;
  font-size: 24px;
}

.what-i-use-description {
  color: green;
  font-size: 26px;
}

.courses {
  width: 1700px;
  padding: 20px;
  background-color: bisque;
  color: #000000;
}

.courses-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 50px;
}

.courses-list-heading {
  color: brown;
  font-size: 24px;
  margin-bottom: 10px;
}

.courses-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.courses-item {
  color: green;
  font-size: 20px;
  margin-bottom: 5px;
}

.course-link {
  text-decoration: none;
}

.course-link:hover {
  color: rgb(6, 95, 124);
  text-decoration: underline;
}



.projects-section {
  background: rgb(125, 255, 255);
}

.projects-section-title {
  background-color: lightpink;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.projects-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  list-style: none;
  padding: 30px;
}

.project {
  position: relative;
  width: 400px;
  height: 600px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
}

.project-image {
  margin-bottom: 15px;
}

.project-title {
  margin: 0;
  color: darkred;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.project-description {
  font-size: 22px;
  line-height: 24px;
}

.project-link {
  position: absolute;
  bottom: 20px;
  left: 93px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: orangered;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 26px;
}

.project-link:hover {
  background-color: red;
}

.projects-cell-title {
  margin: 0;
  background-color: rgb(40, 248, 179);
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 26px;
  text-transform: uppercase;
}

.page-footer {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #444444;
  color: white;
  text-align: center;
  font-size: 30px;
}
